/* Hide scrollbars globally */
::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;     /* For Firefox */
}
